extends ./layouts/default.jade

append head
	script(type='text/javascript').
		var apiKey = '#{apiKey}'
		var sessionId = '#{sessionId}'
		var token = '#{token}'
	script(src='/scripts/test.js')

block content
	.row
		.col-md-12
			#publisher
			#subscribers
			//- if apiKey
			//- 	p #{apiKey}
			//- if sessionId
			//- 	p #{sessionId}
			//- if token
			//- 	p #{token}


