extends ./layouts/default.jade

//- NB- The full stop on line 6 is VERY IMPORTANT
append head
	link(href='/css/instructor.css', rel='stylesheet' type='text/css')
	script(type='text/javascript').
		var apiKey = '#{apiKey}'
		var sessionId = '#{sessionId}'
		var token = '#{token}'
		var permissions = '#{permissions}' // should be moderator
		var role = '#{role}'
		var username = '#{username}'
	script(src='/scripts/instructor.js')

block content
	.container-fluid
		.row.videoRow
			.col-xs-4.publisher
				#publisher
			.col-xs-4.subscriber#subscriber1
			.col-xs-4.subscriber#subscriber2
		.row.videoRow
			.col-xs-4.subscriber#subscriber3
			.col-xs-4.subscriber#subscriber4
			.col-xs-4.subscriber#subscriber5

		.row
			.col-xs-4
				//- button.btn#stopStream Stop Stream
				//- button.btn#startStream Start Stream
				button.btn#prevFive
					span.glyphicon.glyphicon-arrow-left(aria-hidden='true')
				button.btn#nextFive
					span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
				button.btn(type='button', data-toggle='modal', data-target='#mummiesModal')#classList
					span.glyphicon.glyphicon-tasks(aria-hidden='true')
				button.btn(type='button', data-toggle='modal', data-target='#helpModal')#help
					span.glyphicon.glyphicon-question-sign(aria-hidden='true')
			.col-xs-4
			.col-xs-3
				//- button.btn#getStreamData Log streamData
				//- button.btn#getEmptySubscribers Log Empty Sub
			.col-xs-1
				button.btn#endClass
					span.glyphicon.glyphicon-off(aria-hidden='true')

		//- .row.help.hidden
		//- 	.col-xs-4.help.hidden
		//- 		button.btn
		//- 			span.glyphicon.glyphicon-arrow-left(aria-hidden='true')
		//- 		button.btn
		//- 			span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
		//- 		p Display next/previous five class members
		//- 	.col-xs-4.help.hidden
		//- 		button.btn
		//- 			span.glyphicon.glyphicon-ban-circle(aria-hidden='true')
		//- 		p Kick the selected class member from the class
		//- 		button.btn
		//- 			span.glyphicon.glyphicon-off(aria-hidden='true')
		//- 		p End the class, disconnecting all class members and yourself
		//- 		button.btn
		//- 			span.glyphicon.glyphicon-question-sign(aria-hidden='true')
		//- 		p Click again to hide this help section
		//- 	.col-xs-4.help.hidden
		//- 		p Select a class member from the list by clicking

	#mummiesModal.modal(tabindex='-1', role='dialog', aria-labelledby='mummiesModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#mummiesModalLabel.modal-title Class List
				.modal-body
					.container-fluid
						.row
							.col-xs-8
								.mummies
									ul#mummies-list
							.col-xs-4
								p Click a name on the list to select
								br
								button.btn#kill
									span.glyphicon.glyphicon-ban-circle(aria-hidden='true')
								p Click button to kick selected class member from the class
								br
								hr
								h5 List Order
								br
								p.active-help Currently displayed
								p.inactive-help Not displayed - streaming
								p.no-stream-help Not streaming
								br
								p.moderator-help Instructor
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close

	#helpModal.modal(tabindex='-1', role='dialog', aria-labelledby='helpModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#helpModalLabel.modal-title Help
				.modal-body
					.container-fluid
						.row
							.col-xs-4
								button.btn
									span.glyphicon.glyphicon-arrow-left(aria-hidden='true')
								button.btn
									span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
								p Display previous/next five class members.
							.col-xs-4
								button.btn
									span.glyphicon.glyphicon-tasks(aria-hidden='true')
								p Open class list pop-up.
								button.btn
									span.glyphicon.glyphicon-question-sign(aria-hidden='true')
								p Open help pop-up.
							.col-xs-4
								button.btn
									span.glyphicon.glyphicon-off(aria-hidden='true')
								p End the class, disconnecting all class members and yourself
						.row
							.col-xs-6
								p The arrow buttons let you scroll through the available class member video streams.
								br
								p Click a video box to enable sound from that class member.
								p (A yellow border indicates active sound output)
							.col-xs-6
								p You can view the names of everyone attending the class in the class list pop-up, including those with tbeir video output turned off.
								br
								p You can kick a class member from the class by selecting their name on the list and clicking the kick button.
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close


