extends ./layouts/nonavbar.jade

//- NB- The full stop on line 6 is VERY IMPORTANT
append head
	link(href='/css/instructor.css', rel='stylesheet' type='text/css')
	script(type='text/javascript').
		var apiKey = '#{apiKey}'
		var sessionId = '#{sessionId}'
		var token = '#{token}'
		var archiveSessionId = '#{archiveSessionId}'
		var archiveToken = '#{archiveToken}'
		var membershipLevel = '#{membershipLevel}'
		var role = '#{role}' // should be moderator
		var email = '#{email}'
		var username = '#{username}'
		var displayName = '#{displayName}'
	script(src='/scripts/instructor.js')

block content
	.container-fluid
		.row.videoRow
			.col-xs-4.videoCol.publisher
				#publisher
			.col-xs-4.videoCol.subscriber#subscriber1
			.col-xs-4.videoCol.subscriber#subscriber2
		.row.videoRow
			.col-xs-4.videoCol.subscriber#subscriber3
			.col-xs-4.videoCol.subscriber#subscriber4
			.col-xs-4.videoCol.subscriber#subscriber5

		.row.buttonRow
			.col-xs-4
				button.btn.btn-primary#prevFive
					span.glyphicon.glyphicon-arrow-left(aria-hidden='true')
				button.btn.btn-primary#nextFive
					span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
				button.btn.btn-danger#pauseToggle
					span.glyphicon.glyphicon-pause#pause(aria-hidden='true')
					span.glyphicon.glyphicon-play.hidden#play(aria-hidden='true')
			.col-xs-2
				button.btn.btn-success#classList(type='button', data-toggle='modal', data-target='#mummiesModal')
					span.glyphicon.glyphicon-tasks(aria-hidden='true')
			.col-xs-2
				button.btn.btn-info#help(type='button', data-toggle='modal', data-target='#helpModal')
					span.glyphicon.glyphicon-question-sign(aria-hidden='true')
			.col-xs-2
				button.btn.btn-warning#logOut
					span.glyphicon.glyphicon-log-out(aria-hidden='true')
			.col-xs-2
				button.btn.btn-danger#endClass
					span.glyphicon.glyphicon-off(aria-hidden='true')

	#mummiesModal.modal(tabindex='-1', role='dialog', aria-labelledby='mummiesModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#mummiesModalLabel.modal-title Class List
				.modal-body
					.container-fluid
						.row
							.col-xs-8
								.mummies
									ul#mummies-list
							.col-xs-4
								p Click a name on the list to select
								br
								button.btn.btn-danger#kill
									span.glyphicon.glyphicon-ban-circle(aria-hidden='true')
								br
								p Click button to kick selected class member from the class
								hr
								h5 List Order
								br
								p.active-help Currently displayed
								p.inactive-help Streaming but not displayed
								p.no-stream-help Not streaming
								p.moderator-help Instructor
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close

	#helpModal.modal(tabindex='-1', role='dialog', aria-labelledby='helpModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#helpModalLabel.modal-title Help
				.modal-body
					.container-fluid
						.row
							.col-xs-4
								button.btn.btn-primary
									span.glyphicon.glyphicon-arrow-left(aria-hidden='true')
								p Display previous 5 class members.
								button.btn.btn-primary
									span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
								p Display next 5 class members.
								button.btn.btn-danger
									span.glyphicon.glyphicon-pause(aria-hidden='true')
								button.btn.btn-success
									span.glyphicon.glyphicon-play(aria-hidden='true')
								p Pause/restart the class member display loop.
							.col-xs-4
								button.btn.btn-success
									span.glyphicon.glyphicon-tasks(aria-hidden='true')
								p Open class list pop-up.
								button.btn.btn-info
									span.glyphicon.glyphicon-question-sign(aria-hidden='true')
								p Open help pop-up.
							.col-xs-4
								button.btn.btn-warning
									span.glyphicon.glyphicon-log-out(aria-hidden='true')
								p Exit Class
								p (Use if you connected at the wrong time.)
								button.btn.btn-danger
									span.glyphicon.glyphicon-off(aria-hidden='true')
								p End the class, disconnecting all class members and yourself.
						.row
							.col-xs-12
								hr
						.row
							.col-xs-4
								p The arrow buttons scroll through the available class member video streams.
								p Every 15 seconds, the next 5 class members will be shown, unless you press pause.
							.col-xs-4
								p You can view the names of everyone attending the class in the class list pop-up.
								p This includes those with their video output turned off.
							.col-xs-4
								p You can kick a class member from the class.
								p Select their name from the list, then click the kick button.
						.row
							.col-xs-4
								p Click a video box to enable sound from that class member.
								p (A yellow border indicates active sound output)
							.col-xs-4

				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close

	#archive-publisher


