extends ./layouts/default.jade

//- NB- The full stop on line 5 is VERY IMPORTANT
append head
	script(type='text/javascript').
		var apiKey = '#{apiKey}'
		var sessionId = '#{sessionId}'
		var token = '#{token}'
		var permissions = '#{permissions}'
		var username = '#{username}'
	script(src='/scripts/mummies.js')


block content
	.row
		.col-md-3#publisher
		.col-md-3#subscriber
