extends ./layouts/nonavbar.jade

//- NB- The full stop on line 7 is VERY IMPORTANT
append head
	link(href='/css/mummies.css', rel='stylesheet' type='text/css')

	script(type='text/javascript').
		var apiKey = '#{apiKey}'
		var sessionId = '#{sessionId}'
		var token = '#{token}'
		var membershipLevel = '#{membershipLevel}'
		var role = '#{role}' //should be publisher
		var email = '#{email}'
		var username = '#{username}'
		var displayName = '#{displayName}'
	script(src='/scripts/mummies.js')


block content
	.container-fluid
		.row
			.col-md-12#window
				#button-div
					button.btn.btn-danger#streamtoggle
						span.glyphicon.glyphicon-facetime-video
					button.btn.btn-info#help(type='button', data-toggle='modal', data-target='#helpModal')
						span.glyphicon.glyphicon-question-sign(aria-hidden='true')
					button.btn.btn-warning#logOut
						span.glyphicon.glyphicon-log-out(aria-hidden='true')
				#publisher
					#blackout-div.hidden
					#publisher-div
				#moderator
					.image
						img(src="/images/Home_Image_Large_crop_4-11.jpg" )

	#helpModal.modal(tabindex='-1', role='dialog', aria-labelledby='helpModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#helpModalLabel.modal-title Help
				.modal-body
					.container-fluid
						.row
							.col-xs-3
								button.btn.btn-danger
									//- span.glyphicon.glyphicon-remove
									span.glyphicon.glyphicon-facetime-video
								p Stop sending video to the instructor.
							.col-xs-3
								button.btn.btn-success
									//- span.glyphicon.glyphicon-ok
									span.glyphicon.glyphicon-facetime-video
								p Resume sending video to the instructor.
							.col-xs-4
								button.btn.btn-info
									span.glyphicon.glyphicon-question-sign(aria-hidden='true')
								p Open help pop-up.
							.col-xs-4
								button.btn.btn-warning
									span.glyphicon.glyphicon-log-out(aria-hidden='true')
								p Exit Class.
								p You will need to return to Mummy Workouts and use the Join Class button if you wish to rejoin.
				.modal-footer
					button.btn.btn-default.btn.btn-default-default(type='button', data-dismiss='modal') Close


