extends ./layouts/default.jade

//- NB- The full stop on line 5 is VERY IMPORTANT
append head
	link(href='/css/mummies.css', rel='stylesheet' type='text/css')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
	script(type='text/javascript').
		var apiKey = '#{apiKey}'
		var sessionId = '#{sessionId}'
		var token = '#{token}'
		var permissions = '#{permissions}'
		var username = '#{username}'
	script(src='/scripts/mummies.js')


block content
	.row
		.col-md-12#window
			#publisher
				#publisher-div
				button.btn.button-stop#stopStream
					i.fa.fa-stop
				button.btn.button-play#startStream
					i.fa.fa-play
			#moderator
				#moderator-div
					img(src="http://mummyworkouts.com/wp-content/uploads/2015/03/Home_Image_Large_crop_4-11.jpg" class="img-responsive" )
